@font-face {
  font-family: 'phxicons';
  src:  url('phxicons/fonts/phxicons.eot');
  src:  url('phxicons/fonts/phxicons.eot') format('embedded-opentype'),
    url('phxicons/fonts/phxicons.ttf') format('truetype'),
    url('phxicons/fonts/phxicons.woff') format('woff'),
    url('phxicons/fonts/phxicons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}